.r {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size:larger;
}
.registrasi {
    background-color: rgb(149, 221, 255);
    border: 2px solid rgb(168, 162, 162);
    border-radius: 5px;
    display: inline-flexbox;
    text-align: center;
    font-family: 'Times New Roman', Times, serif ;
    padding: 10px;
    margin-left: 550px; 
    margin-right: 550px;
}
.button {
    cursor: pointer;
    list-style-type: none;
    background-color: rgb(82, 192, 243);
    border: 1px solid rgb(0, 153, 255);
    border-radius: 3px;
    padding: 10px;
    margin: 5px;
}
